.container{
    font-display: flex;
    flex-direction: row;
    width: 80%;
}

.videosContainer{
    display: flex; /* o el diseño que necesites para mostrar las tarjetas */
   /* flex-wrap: wrap; /* si los elementos deben envolverse en múltiples líneas 
    justify-content: flex-start; 
    height: 400px;*/

}

.categoriasContainer{
    background-color: #191919;
    margin: 20px 40px;
}

.categoria{
    background-color: var(--negro);
    overflow-x:auto; /* Scroll horizontal*/
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    box-sizing: border-box;
    white-space: nowrap;
    margin-bottom: 3rem;
}

.categoria::-webkit-scrollbar {
    background-color: #191919;
    height: 18px; /* Ajustar el tamaño del scrollbar horizontal */
    border-radius: 15px;
}

.categoria::-webkit-scrollbar-track {
    background-color: #1b2839;
    padding: 2px;
}

.categoria::-webkit-scrollbar-thumb {
    background-color: #2271d1;
    border-radius: 15px;
    height: 4px; /* Ajustar la altura del thumb para que sea más pequeño */
    margin: 2px; /* Margen alrededor del thumb */
}

.categoria h3 {
    font-family: var(--font);
    font-weight: 700;
    border-radius: 20px;
    color: var(--blanco); /* Color de texto fijo para el título */
    display: flex;
    margin:3rem 1rem 0 1rem;
    width: 30vw;
    height: 60px;
    justify-content: center;
    align-items: center;
}