:root {
  --font: 'Roboto', sans-serif;
  --negro: #191919;
  --blanco: #F5F5F5;
  --azul: #2271d1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #191919
}



